<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Etrian_Odyssey_IV_test.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Etrian_Odyssey_IV_test.Properties.Settings>
            <setting name="EOIRomFS" serializeAs="String">
                <value />
            </setting>
            <setting name="EOIIRomFS" serializeAs="String">
                <value />
            </setting>
            <setting name="EOIIIRomFS" serializeAs="String">
                <value />
            </setting>
            <setting name="EOIVRomFS" serializeAs="String">
                <value />
            </setting>
            <setting name="EOVRomFS" serializeAs="String">
                <value />
            </setting>
            <setting name="EOXRomFS" serializeAs="String">
                <value />
            </setting>
            <setting name="EOURomFS" serializeAs="String">
                <value />
            </setting>
            <setting name="EOU2RomFS" serializeAs="String">
                <value />
            </setting>
            <setting name="FETHRomFS" serializeAs="String">
                <value />
            </setting>
            <setting name="PQRomFS" serializeAs="String">
                <value />
            </setting>
            <setting name="PQ2RomFS" serializeAs="String">
                <value />
            </setting>
        </Etrian_Odyssey_IV_test.Properties.Settings>
    </userSettings>
</configuration>